
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopeef__logo img {
    width: 153px;
    height: 30px;
}
.search{
    width: 30px;
    height: 30px;
}
.main-login{
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 30px 30px 30px 30px;
    margin:auto;
}
.phone{
    margin-bottom: 10px;
    background-color: #329900;
}
.facebook{
    background-color: #187caa;
}
.google{
    background-color: #ff5252;
}
#btnlogin{
    background-color: #187caa;
}
.left-group{
    float: left!important;
}
.right-group{
    float: right!important;
}
.now-login .btn-submit {
    margin-bottom: 15px;
    padding: 6px 0;
    text-transform: uppercase;
}
.btn-block {
    display: block;
    width: 100%;
}
.mess-policy{
    font-size: small;
}
.container{
    text-align: center;
    width: 100%;
    max-width: 600px;
    padding: 30px 30px 30px 30px;
    margin:auto;
}
