:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 100%;
    font-family:'Roboto', sans-serif;
    line-height:1.15;
    box-sizing: border-box;
} 
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid_row{
    display: flex;
    flex-wrap: wrap;
}
.btn-secondary{
    color: #252525;
    background-color: #ebeff3;
    padding: 10px 27px 10px 19px;
    border: none;
}
.main-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}
.nav-item{
    color: #000;
    padding: 10px 12px 21px;
    margin-bottom: 10px;
}
.main-nav .nav-item.active{
    color:#ee4d2d;
    font-weight: 700;
    border-bottom-color:#ee4d2d ;
}
.btn-outline-danger{
    margin-left: 10px;
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}
.header-icon-search{
    cursor: pointer;
    margin-top: 6px;
    width: 24px;
    height: 24px;
    background-image: url(asset/img/search-dark.jpg);
    background-size: cover;
}
body {
    margin: 0;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}

.search .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}
.search .form-search .input-group input {
    width: 100%;
    padding-right: 75px;
    padding-left: 10px;
    height: 50px;
    border: 0;
    border-radius: 6px 10px 10px 6px;
}
.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}
.left{
    margin-top: 100px;
    padding: 50px;
}
.form-search{
    width: 100%;
    margin: 10px;
    padding-right: 75px;
    padding-left: 5px;
    height: 50px;
    border: 0;
    border-radius: 6px 10px 10px 6px;
}
.search .local {
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
}
.form-search .btn-primary{
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 6px 6px 0;
    padding-top: 11px;
}
.btn-outline-light{
    margin: 8px;
    padding: 5px 15px;
    font-size: 14px;
}
.font18 {
    font-size: 1.125rem!important;
    color: #fff;
}
.boxfood {
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    width: 100%;
    height: 100%;
}

.boxfood img{
    object-fit: cover;
}

.boxfoodjr img{
    object-fit: cover;
}

header {
    position: fixed;
    top: 0;
}
main{
    background-image: url(assets/img/main-banner.jpg);
    background-repeat: no-repeat;
}
.shopeefood__body {
    overflow: hidden;
}

.body__rightside {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.body__rightside {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

.restaurant {
    width: 186px;
    height: 200px;
}
.right{
    margin-top: 100px;
    width: 50%;
    background-color: #fff;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 10px;
}
.restaurant__list{
    display: flex;
    background-color: #fff;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.restaurant__cover {
    width: 100%;
    height: 116px;
}

.restaurant__cover img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.info_shopee{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%
}
.footer-1{
    background-color: #fff;
    padding: 20px 150px 50px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
}
.footer-1 .title{
    font-size: 22px;
    font-weight: 700;
}
.footer-1 img{
    vertical-align: center;
    border-style: none;
}
.footer-2{
    background-color: #fff;
    padding: 50px 350px 50px 150px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
}
.footer-2-img{
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 2;
    line-height: 0;
    text-align: center;
    width: 350px;
}
.footer-2 img{
    vertical-align: center;
    border-style: none;
}
.footer-icon{
    display: inline-block;
    padding: 0 8px;
}
.bi-facebook{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.bi-instagram{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px;
}
.footer-img{
    size: 16px;
}
.font-weight-bold{
    font-weight: 700;
    color: #000;
}
.text-decoration-none{
    color:  #464646;
    padding: 0 3px;
    content: "|";
}
.last-footer{
    margin-bottom: 25px;
    text-align: right;
    float: right;
    font-size: 16px;
}
.info_local{
    line-height: 0.25cm;
}
.main_detail{
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
}
.figure-img{
    width: 645px;
    padding-bottom: 15px;
    margin-left: 200px;
}
.detail_info{
    width: 645px;
    padding-bottom: 15px;
}
.name_restaurant{
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}
.restaurant__local{
    font-size: 13px;
    margin-bottom: 2px;
}
.number-rating{
    background-color: #ffc107;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    margin: 0 5px;
}
.main-footer{
    width: 100%;
    height: 100%;
}
.menu-restaurant .item{
    color: #cf2127;
    font-size: 15px;
    font-weight: 700;
    margin: 13px 26px;
    padding-left: 120px;
    cursor: default;
}
.menu-category{
    position: relative;
}
.category-left{
    background-color: #fff;
    padding: 15px 5px 15px 15px;
    width: 235px;
    border-radius: 4px;
}
.nav-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    padding: 2px;
    color: #464646;
    
}
.category-right{
    width: 590px;
    height: 100%;
    margin-left: 10px;
    padding: 6px 15px;
    border-radius: 4px;
    background-color: #fff;
}
.btn-primary{
    border: none;
    cursor: pointer;
    font-weight: 700;
    background-color: #ee4d2d;
}
.bill-header{
    background-color: #fff;
    border-radius: 4px;
    top: 48px;
    right: 10px;
    width: 315px;
    margin-left: 20px;
}
