:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
*{
    box-sizing: inherit;
}
*,:after,:before{box-sizing:border-box}
html{
    font-size: 100%;
    font-family:'Roboto', sans-serif;
    line-height:1.15;
    box-sizing: border-box;
    -webkit-text-size-adjust:100%;
    -ms-text-size-adjust:100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
} 
.grid{
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}
.grid_row{
    display: flex;
    flex-wrap: wrap;
}
.container-fluid{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}
.btn-secondary{
    color: #252525;
    background-color: #ebeff3;
    padding: 10px 27px 10px 19px;
    border: none;
}
.main-nav {
    padding-left: 48px;
    padding-right: 0;
    white-space: nowrap;
}
.nav-item{
    color: #000;
    padding: 10px 12px 21px;
    margin-bottom: 10px;
}
.main-nav .nav-item.active{
    color:#ee4d2d;
    font-weight: 700;
    border-bottom-color:#ee4d2d ;
}
.btn-outline-danger{
    margin-left: 10px;
    padding: 7px 12px;
    background-color: #fff;
    border-color: #ee4d2d;
    color: #ee4d2d;
}
.header-icon-search{
    cursor: pointer;
    margin-top: 6px;
    width: 24px;
    height: 24px;
    background-image: url(asset/img/search-dark.jpg);
    background-size: cover;
}
body {
    margin: 0;
    font-family: Noto Sans,Arial,sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}
.wrapper {
    padding-top: 70px;
}
.now-banner{
    height: 100%;
    position: relative;
}
.now-search .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
    color: #fff;
}
.now-search .local {
    font-size: 15px;
    text-transform: capitalize;
    color: #fff;
}
.now-search .form-search .input-group input {
    width: 100%;
    padding-right: 75px;
    padding-left: 10px;
    height: 50px;
    border: 0;
    border-radius: 6px 10px 10px 6px;
}
.container-fluid{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: #fff;
    height: 70px;
}
main{
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255,0.9);
    background-image: url(assets/img/main-banner.jpg);
    background-repeat: no-repeat;
}
.slidebar-left{
    width: 50%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 60px;
}
.container-list{
    height: 100%;
    position: relative;
}
.form-search{
    width: 100%;
    margin: 10px;
    padding-right: 75px;
    padding-left: 5px;
    height: 50px;
    border: 0;
    border-radius: 6px 10px 10px 6px;
}
.form-search .btn-primary{
    width: 70px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0 6px 6px 0;
    padding-top: 11px;
}
.btn-outline-light{
    margin: 8px;
    padding: 5px 15px;
    font-size: 14px;
}
.font18 {
    font-size: 1.125rem!important;
    color: #fff;
}
main.slidebar-right{
    width: 50%;
    margin-right: 100px;
}
.user-get-local {
    background-color: #fff;
    margin: 20px;
    height: 100px;
    padding: 14px 17px 14px 40px;
    border-radius: 4px;
}
.now-list-restaurant{
    border-radius: 6px;
    margin: 20px;
    position: relative;
    background-color: #fff;
}
.container-footer{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
}
.container-footer-1{
    background-color: #fff;
    padding: 20px 150px 50px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
}
.container-footer-1 .title{
    font-size: 22px;
    font-weight: 700;
}
.container-footer-1 img{
    vertical-align: center;
    border-style: none;
}
.container-footer-2{
    background-color: #fff;
    padding: 50px 350px 50px 150px;
    border-radius: 4px;
    margin-top: 60px;
    position: relative;
}
.container-footer-2 .footer-2-img{
    position: absolute;
    bottom: -1px;
    right: 0;
    z-index: 2;
    line-height: 0;
    text-align: center;
    width: 350px;
}
.container-footer-2 img{
    vertical-align: center;
    border-style: none;
}
