body {
    margin: 0;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464646;
    text-align: left;
    background-color: #f2f2f2;
}
ul.product_list {
    padding: 0;
    list-style: none;
    width: 100%;
}
ul.product_list li{
    margin: 30xp;
    display: inline-flex;
}
ul.page li{
    display: inline-flex;
}
.page_list{
    font-size: large;
    text-align: center;
}
ul.page{
    margin: 30px;
}
ul.product_list li a{
    text-decoration: none;
}
.btn_list{
    display: inline-flex;
}