@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
:root{
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.shopeefood__header {
    background-color: #fff;
    position: fixed;
    top: 0px;
}

.dropdown-item .local{
    text-align: right;
    font-size: 12px;
}

body{
    background: #f2f2f2!important;
}

.shopeefood__logo img {
    width: 153px;
    height: 30px;
}

.shopeefood__body {
    background-image: url(https://shopeefood.vn/app/assets/img/main-banner.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60px;
}

.main_detail{
    width: 100%;
    background-color: #fff;
    padding-top: 30px;
    position: relative;
}
.figure-img{
    margin-left: 200px;
}
.name_restaurant{
    color: #464646;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 4px;
}
.restaurant__local{
    font-size: 13px;
    margin-bottom: 2px;
}
.number-rating{
    background-color: #ffc107;
    padding: 0 5px;
    border-radius: 4px;
    color: #fff;
    margin: 0 5px;
}
.utility .text{
    color: #ee4d2d;
    font-weight: 600;
}
.utility-content{
    border-right: 1px solid #ebebeb;
}
.icon-partner-vi {
    background-image: url(https://shopeefood.vn/app/assets/img/partner-vi.png?dec00ea8fc6f5429f18e83d16c3685f8);
    position: absolute;
    top: 265px;
    left: 818px;
    cursor: pointer;
    width: 116px;
    height: 44px;
}
.main-footer{
    width: 100%;
    height: 100%;
}
.menu-restaurant .item{
    color: #cf2127;
    font-size: 15px;
    font-weight: 700;
    margin: 13px 26px;
    padding-left: 120px;
    cursor: default;
}
.menu-category{
    position: relative;
}
.category-left{
    background-color: #fff;
    padding: 15px 5px 15px 15px;
    width: 235px;
    border-radius: 4px;
}
.nav-link{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 5px;
    padding: 2px;
    color: #464646;
    
}
.category-right{
    width: 590px;
    height: 100%;
    margin-left: 10px;
    padding: 6px 15px;
    border-radius: 4px;
    background-color: #fff;
}
.category-right .text-right{
    color: #464646;
    font-size: 16px;
    font-weight: 600;
}
.category-right .promotions{
    background-color: #fbf9d8;
    border: 1px dashed #575757;
}
.list-group-item{
    background-color: #fbf9d8;
}
.copy-code{
    top: 10px;
    font-size: 12px;
    color: #575252;
    font-weight: 700;
    background: none;
    border: none;
    float: right;
}
.category-right .btn-primary{
    border: none;
    cursor: pointer;
    background-color: #ee4d2d;
}
.category-right .produce-item{
    padding-top: 10px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}
.bill-restaurant{
    background-color: #fff;
    border-radius: 4px;
    top: 48px;
    right: 10px;
    width: 315px;
    margin-right: 500px;
}
.bill-header{
    border-bottom: 1px solid #ebebeb;
    padding: 7px 10px;
}
.order-card-user{
    color: #464646;
    background-color: #ebebeb;
    padding: 4px 15px;
}
.card-item .clearfix .bi-plus{
    background: rgb(26, 180, 26);
    color: #fff;
    border: none;
    border-radius: 4px;
}
.card-item .clearfix .bi-dash{
    background: #464646;
    color: #fff;
    border: none;
    margin: 2px;
    border-radius: 4px;
}
.card-item .note-order{
    border: none;
}
.btn-group .btn{
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 4px;
}
.bill-3 {
    font-size: 13px;
    padding: 4px 10px;
}
.btn-danger{
    background: #ee4d2d;
    font-size: 15px;
    margin: 12px 10px 15px;
    width: calc(100% - 20px);
}
.modal-content{
    background-color: #f5f5f5;
    font-size: 13px;
}
.modal-header{
    font-size: 16px;
    font-weight: 700;
    color: #000;
    padding: 5px 10px;
    border-radius: 5px 5px 0 0;
}
.modal-header .btn-primary{
    margin-left: 500px;
    font-size: 12px;
}
.modal-body{
    color: #464646;
    padding: 10px-15px;
}
.direction-content{
    background-color: #fff;
    width: 379px;
    height: 172px;
}
.direction-info{
    padding: 5px 10px 5px 23px;
}
.direction-from{
    padding: 5px 0;
    position: relative;
}
.direction-name{
    font-size: 13px;
    font-weight: 700;
    max-width: 96%;
}
.direction-to{
    padding: 5px 0;
    position: relative;
}
.direction-to .direction-address{
    font-size: 12px;
}
.direction-time{
    border: 1px solid #464646;
    border-radius: 12px;
    padding: 2px 3px;
    background-color: #fbf9d8;
}
.order-right{
    background-color: #fff;
    font-size: 14px;
    width: 100%;
    border-left: 10px;
    height: 100%;
}
.info-order{
    border-top: 7px solid #d7d7d7;
    padding: 4px 10px;
}
.introbox-1{
    padding: 20px 150px 50px;
    border-radius: 4px;
    position: relative;
}
.introbox-2{
    padding: 50px;
    border-radius: 4px;
    position: relative;
}
.modal-footer .btn-info{
    width: 869px;
    height: 44px;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

footer{
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 40px;
    position: relative;
}
.footer-img{
    size: 16px;
}
.font-weight-bold{
    font-weight: 700;
    color: #000;
}
.last-footer{
    margin-bottom: 25px;
    text-align: right;
    float: right;
    font-size: 16px;
}
.footer-icon{
    display: inline-block;
    padding: 0 8px;
}
.bi-facebook{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    
}
.bi-instagram{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 20px;
}
